{% extends 'base.html' %}

{% block title %}GRKK CRM{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}

            <form method="post" action="{% url 'authentication:login' %}">
                {% csrf_token %}

                {% for field in form %}
                
                {{ field.label_tag }}
                <div class="form-control">
                    {{ field }}
                </div>

                {% endfor %}

                <button class="btn btn-primary">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you set up the password_reset view in your URLconf #}
            <p><a href="{% url 'authentication:password_reset' %}">Lost password?</a></p>

        </div>
    </div>
</div>
{% endblock %}