{% extends 'base.html' %}

{% block title %}GRKK Mailer{% endblock %}

{% block content %}

{% if messages %}

    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>GRKK Mailer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    This is the GRKK Mailer.
                </p>
            </div>
        </div>
    </div>

{% endblock %}